In [1]:
import pandas as pd
import numpy as np

In [2]:
IP = '217.15.20.194'

In [3]:
df = pd.read_csv('lab2.csv', skiprows=1, header=None)
df.columns = ['sa', 'da', 'bpp']
df = df[np.logical_or(df.sa == IP, df.da == IP)]
print(f'Всего транзакций c IP = {IP}: {df.shape[0]} шт.')
df.head()

Всего транзакций c IP = 217.15.20.194: 4823

                sa             da   bpp
8    173.194.73.95  217.15.20.194   520
14   108.177.14.94  217.15.20.194  1046
56    81.19.104.45  217.15.20.194    45
63  23.226.231.226  217.15.20.194    40
64   13.94.251.244  217.15.20.194   462

In [4]:
outgoing_traffic = df[df.sa == IP].bpp.sum()
ingoing_traffic =  df[df.da == IP].bpp.sum()

print(f'Исходящий трафик составил {outgoing_traffic} байт.')
print(f'Входящий трафик составил {ingoing_traffic} байт.')

Исходящий трафик составил 0 байт.
Входящий трафик составил 1677890 байт.